.lib-preview-elm-1 {
  max-width: 600px;
  margin: 0 auto;
}

.lib-preview-elm-2 {
  border: 1px solid var(--border-color, #eaeaea);
  border-radius: 8px;
}

.lib-preview-elm-3 {
  margin-top:0;
}

.lib-preview-elm-4 {
  border: 1px solid var(--border-color, #eaeaea);
  border-radius: 8px;
}

.lib-preview-elm-5 {
  margin-top:0;
}

.lib-preview-elm-6 {
  border: 1px solid var(--border-color, #eaeaea);
  border-radius: 8px;
}

.lib-preview-elm-7 {
  margin-top:0;
}

.lib-preview-elm-8 {
  border: 1px solid var(--border-color, #eaeaea);
  border-radius: 8px;
}

.lib-preview-elm-9 {
  margin-top:0;
}

.lib-preview-elm-10 {
  border: 1px solid var(--border-color, #eaeaea);
  border-radius: 8px;
}

.lib-preview-elm-11 {
  margin-top:0;
}

.lib-preview-elm-12 {
  border: 1px solid var(--border-color, #eaeaea);
  border-radius: 8px;
}

.lib-preview-elm-13 {
  margin-top:0;
}