.settings-elm-1 {
  background-color: #f7f3f0;
}

.settings-elm-2 {
  color: var(--text-primary);
}

.settings-elm-3 {
  color: var(--text-secondary);
}

.settings-elm-4 {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.05);
  box-sizing: border-box;
}

.settings-elm-5 {
  border-color: #fca5a5;
  background-color: #fef2f2;
  box-sizing: border-box;
}

.settings-elm-6 {
  color: #b91c1c;
}

.settings-elm-7 {
  color: var(--error-default);
}