.create-habit-elm-1 {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 75vh;
}

.create-habit-elm-2 {
  box-sizing: border-box;
}

.create-habit-elm-3 {
  min-width: 200px;
}

.create-habit-elm-4 {
  color: var(--text-primary);
}

.create-habit-elm-5 {
  max-width: 170px;
}

.create-habit-elm-6 {
  width: 32px;
  height: 32px;
  min-width: 32px;
  border-radius: 50%;
  border: 3px solid var(--background-default);
  transition: box-shadow 0.2s;
  box-sizing: border-box;
  flex-shrink: 0;
}

.create-habit-elm-7 {
  min-width: 0;
}

.create-habit-elm-8 {
  color: var(--text-primary);
}

.create-habit-elm-9 {
  box-sizing: border-box;
}

.create-habit-elm-10 {
  min-width: 0;
}

.create-habit-elm-11 {
  color: var(--text-primary);
}

.create-habit-elm-12 {
  min-width: 0;
}

.create-habit-elm-13 {
  color: var(--text-primary);
}

.create-habit-elm-14 {
  background-color: var(--secondary-50);
  border: 1px solid var(--border-default);
}

.create-habit-elm-15 {
  padding: 24px 0;
  font-size: 16px;
  background-color: #20B2AA;
}