/* You can add global styles to this file, and also import other style files */


@use './styles/themes/colors';
@use './styles/themes/light-theme';
@use './styles/themes/dark-theme';
@use './styles/flex.scss';
@use './styles/gaps.scss';
@use './styles/paddings.scss';
@use './styles/fonts.scss';
@use './styles/forms.scss';
@use './styles/borders.scss';
@use './styles/margins.scss';
@use './styles/modifiers.scss';

@import '@angular/material/prebuilt-themes/rose-red.css';

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--background-default);
    color: var(--text-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.border-none {
    border: none;
}