.df
{
    display: flex;
    &.fd-c
    {
        flex-direction: column;
    }
    &.fd-r
    {
        flex-direction: row;
    }
    &.ai-c
    {
        align-items: center;
    }
    &.ai-s
    {
        align-items: stretch;
    }
    &.jc-c
    {
        justify-content: center;
    }
    &.jc-s
    {
        justify-content: space-between;
    }
}