@import 'utility';

// Generate paddings using a for loop
@for $i from 0 through 100 {
  .p-#{$i} {
    padding: toRem($i);
  }
  .pt-#{$i} {
    padding-top: toRem($i);
  }
  .pr-#{$i} {
    padding-right: toRem($i);
  }
  .pb-#{$i} {
    padding-bottom: toRem($i);
  }
  .pl-#{$i} {
    padding-left: toRem($i);
  }
  .px-#{$i} {
    padding-left: toRem($i);
    padding-right: toRem($i);
  }
  .py-#{$i} {
    padding-top: toRem($i);
    padding-bottom: toRem($i);
  }
}
